# some secret json files
config.json
passwords.json
user_identity.json
game_1A2B_ranks.json
terminal_mode_login_history.json
develop_mode_login_history.json
vocabulary_items.json
clipboard.json
pending_role_list.json


# txt files
maintenance.txt

/dump 

*__pycache__

/.idea
