# token and bot_id
config.json

# hide all json files under /data/json
/data/json/*
# except these files
!/data/json/terminal_mode_directory_structure.json
!/data/json/develop_mode_directory_structure.json
!/data/json/Moonafly_structure.json
!/data/json/math_calc_allow_names.json

# txt files
maintenance.txt

/dump 

*__pycache__

/.idea

# poetry Packages
/dist/*

.vscode/