# some secret json files
config.json
passwords.json
user_identity.json
game_1A2B_ranks.json
terminal_login_history.json
Moonafly_structure.json
vocabulary_items.json

# txt files
maintenance.txt

*__pycache__

/.idea
